* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body, html {
  background-color: #fff;
  color: #343956;
  font-family: 'PT Sans', sans-serif; }

.logo {
  font-family: 'Great Vibes', cursive;
  color: #B28488;
  font-size: 32px;
  line-height: 55px;
  text-align: center;
  width: 200px;
  padding: 10px 10px;
  margin: 20px auto;}


.logo a {
  text-decoration: none;
  color: #7279A3;
  font-size: 30px; }

.logo a:hover {
  text-decoration: none; }
/*----------------------------------------------------------------------------------------------------------------------------------------
                                                                   NAV
-----------------------------------------------------------------------------------------------------------------------------------------*/
.nav {
  z-index: 2000; }

.nav-main {
  width: 100%;
  text-align: center;
  color: #333;
  text-transform: uppercase;
  z-index: 1000; }

.nav-main ul {
  width: 100%; }

.nav-item:hover {
  background-color: #D7DBE3; }

/*----------------------------------------------------------------------------------------------------------------------------------------
                                                                   HEADER
-----------------------------------------------------------------------------------------------------------------------------------------*/
.header-container h1 {
  text-align: center;
  position:relative;
  top: 125px;
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 4px; }

/*----------------------------------------------------------------------------------------------------------------------------------------
                                                                   SECTION1
-----------------------------------------------------------------------------------------------------------------------------------------*/
.container-section1 {
  margin: 40px 0px;
  position: relative; }

.container-section1 .col-section1 {
  margin: 20px auto; }

.container .main-header {
  text-align: center !important;
  text-transform: uppercase;
  color: #343956;
  margin: 40px 10px 40px 10px;
  font-size: 30px;
  letter-spacing: 3px;
  font-family: 'PT Sans', sans-serif; }

.container  .main-paragraph {
  padding: 20px;
  color: #343956; }

.img-section1  {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
  border-radius: 50%; }

.container .img-section1:hover {
  opacity: 0.8; }

.container h4 {
  font-size: 22px;
  color: #134594;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center; }

/*video*/

video {
  width: 100%;
  height: auto; }

figure p {
  text-align: center;
  text-transform: uppercase; }
/*----------------------------------------------------------------------------------------------------------------------------------------
                                                                 SOCIALS
-----------------------------------------------------------------------------------------------------------------------------------------*/
.socials {
  margin: 40px 0px;
  text-align: center; }

.icon-facebook:hover {
  opacity: .6; }

.icon-instagram:hover {
  opacity: .6; }

.icon-pinterest:hover {
  opacity: .6; }

.icon-behance:hover {
  opacity: .6; }

/*------------------------------------------------------------------------------------------------------------------------------------------
                                                                  FOOTER
------------------------------------------------------------------------------------------------------------------------------------------*/
.footer-container {
  letter-spacing: 1px;
  color: #343956;
  font-family: 'PT Sans', sans-serif; }

.footer-container .footer-col {
  padding: 6px;
  text-align: center; }

.footer-container .footer-col h4 {
  font-weight: 600;
  font-size: 16px; }

.footer-container .footer-col p {
  font-size: 12px; }

.text-center {
  font-size: 10px; }

.scrollup {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 40px;
  bottom: 40px; }


/*---------------------------------------------------------------------------------------------------------------------------------------
                                                                 MEDIA QUERY
                                                                 400-550px
-----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 400px) and (max-width: 550px) {
  /*----------------------------------------------------Header------------------------------------------------*/
.imgban .main-header {
  position: absolute;
  top: 280px;
  left: 100px; }
/*----------------------------------------------------------------------------------------------------------------------------------------
                                                                 PARALLAXA2
-----------------------------------------------------------------------------------------------------------------------------------------*/
.parallaxa2 h2 {
  padding-left: 60px; }
}

/*----------------------------------------------------------------------------------------------------------------------------------------------
                                                             550 - 700px
----------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 550px) and (max-width: 700px){
.img-section1 {
  width: 50%;
  margin-left: 25%; }
}
/*----------------------------------------------------------------------------------------------------------------------------------------------
                                                              738 - 999px
----------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 700px) and (max-width: 999px) {
.logo {
  float: left;
  margin-left: 10px; }
/*----------------------------------------------------------------------------------------------------------------------------------------
                                                                  NAV
-----------------------------------------------------------------------------------------------------------------------------------------*/		
.nav-main-first {
   margin: 4px 0px 60px 20px; }

.nav-main {
  padding-top: 10px;
  margin: 10px;
  color: transparent; }

.nav-main ul li {
  width: 140px;
  color: transparent !important; }

/*----------------------------------------------------------------------------------------------------------------------------------------
                                                                  HEADER
-----------------------------------------------------------------------------------------------------------------------------------------*/ 
.header-container h1 {
  padding-top: 50px; }

/*----------------------------------------------------------------------------------------------------------------------------------------
                                                                  SOCIALS
-----------------------------------------------------------------------------------------------------------------------------------------*/
.socials {
  background-color: transparent; }

/*-----------------------------------------------------------------------------------------------------------------------------------------
                                                                  FOOTER
------------------------------------------------------------------------------------------------------------------------------------------*/
.footer-container {
  letter-spacing: 1px;
  color: #343956;
  font-family: 'Libre Baskerville', serif;
  margin-top: 40px; }

.footer-container .footer-col {
  padding: 6px;
  text-align: center;
  font-size: 12px; }

.footer-container .footer-col h4 {
  font-size: 16px;
  font-weight: 600; }
}


/*----------------------------------------------------------------------------------------------------------------------------------------------
                                                               1000 - 1199px
----------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1000px) and (max-width: 1199px) {
.logo {
  float: left; }

.nav-main {
  width: 120%;
  padding-top: 10px; }

.nav-main ul {
  width: 100%; }

.nav-main ul li {
  padding: 10px;
  margin: 10px; }

.nav-item:hover {
  background-color: #D7DBE3; }
/*----------------------------------------------------------------------------------------------------------------------------------------------
                                                                 HEADER
----------------------------------------------------------------------------------------------------------------------------------------------*/ 
.header-container h1 {
  padding-top: 60px;
  color: #fff; }
/*----------------------------------------------------------------------------------------------------------------------------------------
                                                                SECTION1
-----------------------------------------------------------------------------------------------------------------------------------------*/
.container h2 {
  font-size: 38px; }

figure p {
  text-align: center;
  text-transform: uppercase; }
}


/*-----------------------------------------------------------------------------------------------------------------------------------------
                                                                          1200px <
------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1200px) {
/*-------------------------------------------------------------------------------------------------------------------------------------------
                                                                          NAV
-------------------------------------------------------------------------------------------------------------------------------------------*/
.logo {
  float: left; }

.nav-main {
  width: 120%;
  padding-top: 10px; }

.nav-main ul {
  width: 100%; }

.nav-main ul li {
  padding: 10px;
  margin: 10px; }

.nav-item:hover {
  background-color: #D7DBE3; }
/*-------------------------------------------------------------------------------------------------------------------------------------------
                                                                  HEADER
-------------------------------------------------------------------------------------------------------------------------------------------*/ 
.header-container h1 {
  position: relative;
  top: 180px; }

.logo {
  float: left; }
/*-------------------------------------------------------------------------------------------------------------------------------------------
                                                                  SECTION#1
-------------------------------------------------------------------------------------------------------------------------------------------*/ 
.img-wroclaw {
  width: 204%;
  height: 520px;
  margin-top: 100px; }

.info {
  background-color: #fff;
  height: 260px;
  margin-top: 230px;
  padding: 6px;
  font-size: 15px; }

.img-section1 {
  width: 100%; }

.icons .icon-full .icon {
   margin-left: 10px; } 

.about-room {
  font-size: 15px;
  padding-top: 0; }

.header-room {
  margin-bottom: 2px;
  padding-top: 2px; }

.room {
  margin-top: 100px; }

.icons .icon-full .icon-paragraph {
  margin-right: 0; }
/*-------------------------------------------------------------------------------------------------------------------------------------------
                                                                  FOOTER
-------------------------------------------------------------------------------------------------------------------------------------------*/ 
.footer-col .logo a {
  font-size: 30px; }
}